@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Piazzolla", serif;
  background: cyan;
  line-height: 1.5;
}

#main {
  margin: 3rem 1rem 0 1rem;
  padding: 1.8rem;
  background: darkseagreen;
  border-radius: 0.3rem;
}

#title,
.underline,
#title + p,
#img-caption,
h2 {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

#title {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 2rem;
}

#title + p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.underline {
  height: 10px;
  background: #000;
  width: 6rem;
  margin: 0.5rem auto 2rem auto;
  border-radius: 0.5rem;
}

#img-div {
  margin: 1.5rem;
  background: #00ffff;
  border-radius: 0.5rem;
  padding: 2rem;
}

#image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

#img-caption {
  font-size: 1.5rem;
}

#tribute-info {
  width: 80%;
  margin: 0 auto;
}

div > ul {
  font-size: 1.3rem;
  line-height: 1.7;
}

p > strong {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  p > strong {
    font-size: 1.5rem;
  }

  div > ul {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  ul {
    font-size: 2rem;
  }
}
